<div id="wrapper">
  <ion-input
  type="text"
  fill="solid"
  label="Name"
  labelPlacement="floating"
  helperText="Enter a valid name"
  errorText="Invalid name"
  [(ngModel)]="name"
  [minlength]="3"
  required="true"
  ></ion-input>

  <ion-input
    type="text"
    fill="solid"
    label="Surnames"
    labelPlacement="floating"
    helperText="Enter valid surnames"
    errorText="Invalid surnames"
    [(ngModel)]="surnames"
    [minlength]="3"
    required="true"
  ></ion-input>

  <ion-input
    type="number"
    fill="solid"
    label="Age"
    labelPlacement="floating"
    helperText="Enter a valid age"
    errorText="Invalid age"
    [(ngModel)]="age"
    [min]="1"
    [max]="120"
    required="true"
  ></ion-input>

  <ion-button (click)="addPersonEvent()">Add person</ion-button>
</div>